.grid{
    width :300px;
    height: 300px;
    border: solid green 1px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width :20px;
    height: 20px;
}

.invader{
    background-image: url("alien.png");
    background-size: cover;
}

.shooter{
    background-image: url("spaceship.jpg");
    background-size: cover;

}

.laser{
    background-image: url("lightning.png");
    background-size: cover;
}

.boom {
    background-image: url("boom.png");
    background-size: cover;
}

body{
    background-image: url("stars.jpg");
}

h1{
    color: green;
}